<div class="row">
    <app-mini-stats></app-mini-stats>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="card bg-white">
                <div class="card-header">
                    <h4>{{selectedPortfolio.title}}</h4>
                </div>
            
                <div class="row card-body">     
                <div class="row">
                    <div class="col-sm-12">
                    <table>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>List price</th>
                            <th>Buy price</th>
                            <th>Sell price</th> 
                            <th>Change</th>           
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of selectedPortfolio.items">
                            <td><i class="cc {{item.icon}}"></i> {{item.title}}</td>
                            <td>{{item.listPrice}}</td>
                            <td>{{item.buyPrice}}</td>
                            <td>{{item.sellPrice}}</td>
                            <td> +25% </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            
            </div>
        
        </div>
    </div>


    <app-mini-stat-coins></app-mini-stat-coins>
</div>
