
$header-background: #4d5467;
$navbar-background: #424858;
$nav-item-active: rgba(255,255,255,.1);
$brand:#FFFFFF;
$active:#ff8d1c;


.bg-white {
    background-color: #fff!important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.text-muted {
    color: #707070!important;
}
.text-danger, .text-warning {
    color: $active!important;
}
.positive{
    color:#093;
}
