.card{
    padding:12px 12px 24px 12px;
}
.card .card-header{
    padding:4px 0px 12px 0px;
    display:block;
    width:100%;     
}

.card .tools ul{
    list-style: none;
    padding:0;
    margin:0;
}
.card .tools li{
    list-style: none;
    padding:0 4px 0 0;
    margin:0;
    float: left;    
}

.card .card-body table{
    display: block;
    width: 100%;
}
.card .card-body table th{
    width:20%;
    padding-right: 30px;
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: .75rem;
}
.card .card-body table td{
    padding: 15px 12px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #dee2e6;
}