<div class="col-md-3 col-xl-3">
  <div class="mini-stat coins clearfix bg-white">
    <h4>New</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Volume</th>
          <th>%24h</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Gladius Token</a></td>
          <td>$1.19</td>
          <td>$533.19</td>
          <td class="positive">+29%</td>
        </tr>
        <tr>
            <td><a href="#">Gladius Token</a></td>
            <td>$1.19</td>
            <td>$533.19</td>
            <td class="positive">+29%</td>
          </tr>
          <tr>
              <td><a href="#">Gladius Token</a></td>
              <td>$1.19</td>
              <td>$533.19</td>
              <td class="positive">+29%</td>
            </tr>
            <tr>
                <td><a href="#">Gladius Token</a></td>
                <td>$1.19</td>
                <td>$533.19</td>
                <td class="positive">+29%</td>
              </tr>
              <tr>
                  <td><a href="#">Gladius Token</a></td>
                  <td>$1.19</td>
                  <td>$533.19</td>
                  <td class="positive">+29%</td>
                </tr>
      </tbody>
    </table>
  </div>
</div>